<tr>
						
							<td>
								<h4><%= property.address1 %></h4>
								<p>Here's a quick snippet of this article. It's the preview that shows the first couple lines.</p>
								
								<p class="gt-table-edit"><a href="">Edit</a></p>
							</td>
							<td>
								<!-- Categories Sub Table -->
								<table border="0" class="gt-table-categories">
									<tr>
										<th>Posted:</th>
										<td>Yesterday</td>
									</tr>
									<tr>
										<th>Category:</th>
										<td><a href="">Blog</a></td>
									</tr>
								</table>
							</td>
						</tr>
