<!-- Properties Feed -->

  <h2 class="gt-table-head"></h2>
    <!-- Content Box -->
      <div class="gt-content-box">		
	
	<!-- Table Controls -->
	 
	<!-- /Table Controls -->

	<table border="0" class="gt-table gt-user-table">
	  <tbody>
		<tr>
		<td>
  		  <h4>You currently do not have any properties registered.</h4>
    		    <p>Here's a quick snippet of this article. It's the preview that shows the first couple lines.<p>	


	  </tbody>
	</table>
      </div><!-- /Content Box -->

<!-- End of properties feed -->
