<!DOCTYPE html>
<html>
	<head></head>
<body>
	<ul>
	  <li><%= link_to 'Home', root_path %></li>
	  <li><%= link_to 'Help', help_path %></li>
	  <li><%= link_to 'Questions', questions_path %></li>
	  <li><%= link_to 'Signup', signup_path %></li>
	</ul>
</body>
</html>


<% provide(:title, 'Home') %>

<h1>ContentPages#home</h1>
<p>This will be the live home page of Propertygate, available to all viewers.</p>
