<!DOCTYPE html>
<html>
	<head></head>
<body>
	<ul>
	  <li><%= link_to 'Home', root_path %></li>
	  <li><%= link_to 'Help', help_path %></li>
	  <li><%= link_to 'Questions', questions_path %></li>
	  <li><%= link_to 'Signup', signup_path %></li>
	</ul>
</body>
</html>



<% provide(:title, 'Frequently Asked Questions') %>

<h1>ContentPages#questions</h1>
<p>Find me in app/views/content_pages/questions.html.erb</p>
